/* configuracoes principais */
html{
	scroll-behavior: smooth;
	margin-left: 7%;
	margin-right: 7%;
	/* margin-bottom: 20px; */
	transition: 0.5s;
}

body{
	background: rgb(20, 20, 20);
	line-height: 22px;
}

h1{
	color: #FFFFFF;
	font-family: 'Roboto', sans-serif;
	font-weight: 500;
	text-align: center;
	margin: 0px;
}

p{
font-family: 'Roboto', sans-serif;
font-weight: 400;
color: #FFFFFF;
font-size: 15px;
}

@media screen and (max-width: 991px) {
	.h5{
		font-size: 12.5px;
	}
}

li{
	font-family: 'Roboto', sans-serif;
	font-weight: 400;
	color: #FFFFFF;
	font-size: 15px;
}

h4{
	font-family: 'Roboto', sans-serif;
	font-weight: 400;
	color: #FFFFFF;
	font-size: 14px;
}

nav{
	transition: 0.5s;
	margin-left: 0%;
}

.descricao{
	padding-bottom: 20px;
	text-align: center;
}

.card-title{
	color: #FFFFFF;
	font-family: 'Roboto', sans-serif;
	font-weight: 500;
}

.linha-subtitulo{
	padding-bottom: 10px;
	width: 90px;
}

.titulo{
	display: table;
	width: 100%;
}

@media screen and (max-width: 991px) {
	.titulo{
		font-size: 30px;
	}
}

.titulo h5{
	display: table-cell;
	vertical-align: middle;
	text-align: center;
}

a{
	color: #5c8a00;
}

a:hover {
	color: #5c8a00;
}

::selection{
	color: white;
	background-color: #5c8a00;
}
.img-thumbnail{
	width: 100%;
	object-fit: cover;
}


/* navbar */
nav{
    min-height: 80px;
	background-color: black;
	/*background-color: #012709;*/
}
.icone-navbar{
	font-size: 24px;
}
.nav-item{
	font-family: "Roboto", "sans-serif";
	font-size: 15px;
}
.nav-link{
	padding-top: 18px;
}
.dropdown-menu{
	background-color: #000000;
}
.dropdown-item:hover{
	text-color:gray;
	background-color: black;
}

/* linha abaixo do titulo */
.linha{
	width: 180px;
	height: 2px;
	background-color: #5c8a00;
	margin-top: 0px;
}
@media screen and (max-width: 600px) {
	.linha {width: 90px;}
}
/* banner */

.banner-desktop {display: block;}
.banner-mobile {display: none;}
	
@media screen and (max-width: 600px) {
	.banner-desktop {display: none;}
	.banner-mobile {display: block;}
}	

#banner{
	padding: 0px;
	margin-left: -9%;
	margin-right: -9%;
	width: 117.1%;
}

#banner img{
	object-fit: cover;
}

.img-banner-mobile{
	height: 400px;
}

/* Sobre a CoRA */

.sobre{
	padding-top:96px;
}
.iframe-container {
	align-content: center;
    text-align: center;
}

.iframe-container .iframe-desktop{
	aspect-ratio: 16 / 9;
  	width: 100%; 
  	height: 100%;
}

.iframe-container .iframe-mobile{	
	aspect-ratio: 16 / 9;
	width: 50%; 
	height: 50%;
}

.sobre-mobile {display: none;}	
@media screen and (max-width: 1600px) {
	.sobre-desktop {display: none;}
	.sobre-mobile {display: block;}
	.sobre{padding-top: 46px;}
	.iframe-container {
		padding-top: 10px;
		padding-bottom: 25px;}
}	

@media screen and (max-width: 991px) {
	.iframe-container {
		padding-top: 10px;
		padding-bottom: 10px;}
	.iframe-container .iframe-mobile{	
		aspect-ratio: 16 / 9;
		width: 90%; 
		height: 90%;
	}
}

/* CoRA 2023 */
.CoRA_2023{
	padding-top: 30px;
}
/* Feira de Exposição de Robôs Autônomos */

.feira{
	padding-top: 30px;
}

.img-ajuste-feira{
	object-position: bottom;
	max-height: 200px;
}

/* Oficina de Robótica */

.oficina{
	padding-top: 30px;
}
@media screen and (max-width: 991px) {
	.oficina .content{
		display: flex;
		flex-direction: column;
	}
	.carousel-oficina{
		order: 2;
	}
	.texto-oficina{
		order: 1;
	}
}

/* Apoie a CoRA */

.apoie{
	padding-top: 30px;
}

/* Contato */

.contato{
	padding-top: 30px; 
}
/* Parceiros */

.parceiros{
	padding-top: 30px; 
}

@media screen and (max-width: 991px) {	
	.logo {
		width: 50%; 
}
}


/* Rodapé */





















































.text-color{
	color:white;
}

.container-fluid{
	padding: 0;
}

.my_text-always-light {
    color: #f8f9fa !important;
  }

a.my_text-always-light:hover, a.my_text-always-light:focus {
    color: #cbd3da !important;
}

/*navbar*/




/*img*/



.img-light-theme{
    display: none;
}

/*iframe*/



/*títulos*/

.titulo{
	/*background-color: #8BC34A;*/
	text-align:center;
	color: white;
	padding-left: 20px;
	padding-right: 20px;
	padding-top: 10px;
	padding-bottom: 0px;
	margin-bottom: 0px;
}

.sub-titulo{
	color: white;
	padding-left: 20px;
	padding-right: 20px;
	padding-top: 10px;
	padding-bottom: 0px;
	margin-bottom: 0px;
}

/*.titulo::after{
	content: "";
	border-top: 2px solid #5c8a00;
	width: 40%;
	position: absolute;
	top: 60px;
	left: 30.5%;
	margin:0 auto;
}
.titulo-f::after{
	content: "";
	border-top: 2px solid #5c8a00;
	width: 40%;
	position: absolute;
	top: 60px;
	left: 30.5%;
	margin:41px auto;
}*/

h2{
	font-size: 27px;
}

/*cards*/

.card-body .fas{
	font-size: 30px;
	/*color: #8BC34A;*/
	padding: 10px;
}

.card h3{
	font-size: 24px;
	padding-bottom: 20px;
}

.card{
	margin-left: 30px;
	margin-right: 30px;
	margin-bottom: 30px;
}

.info .card{
	margin-left: 15px;
	margin-right: 15px;
}

.card-body{
	margin: 15px;
}

.info .card-body{
	margin: 10px;
}

/*contato*/
.contato{
	text-align: center;
	padding-top: 20px;
}

.contato p{
	color: #5c8a00;
	transition: color 0.5s;
}

.icone-contato{
	font-size: 24px;
	/*color: #343A40;*/
	color: #FFFFFF;
	margin-bottom: 20px;
	background-color: #5c8a00;
	/*transition: background-color 0.5s,
				color 0.5s;*/
	transition: background-color 0.3s;
}

.contato:hover .icone-contato{
	background-color: #5c8a00;
	/*color: #23272B;*/
}

.contato:hover p{
	color: #5c8a00;
	text-decoration: underline;
}

.meulink{
	color: #5c8a00;
}

.meulink:hover{
	color: #5c8a00;
	text-decoration: underline;
}

/*ícones e botões*/

.icone{
	color: #5c8a00;
}

.btn{
	background-color: #5c8a00;
	color: white;
}

/*rodapé*/

.rodape {
	background-color: rgb(20, 20, 20);
}

.rodape p{
	color: white;
}

